.card-list {
  // Layout
  padding: 0;
  margin-inline: 0;
  list-style: none;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;

  .planet-sun {
    grid-area: 1 / 1 / -1 / -1;
    background: none !important;

    a {
      height: 100%;
    }
  }

  .planet-mercury {
    grid-area: 1 / 1 / 2 / 2;
  }
  .planet-venus {
    grid-area: 1 / 2 / 2 / 3;
  }
  .planet-earth {
    grid-area: 1 / 3 / 2 / -1;
  }
  .planet-mars {
    grid-area: 2 / 1 / 3 / 2;
  }
  .planet-jupiter {
    grid-area: 2 / 3 / 3 / -1;
  }
  .planet-saturn {
    grid-area: 3 / 1 / 4 / 2;
  }
  .planet-uranus {
    grid-area: 3 / 2 / 4 / 3;
  }
  .planet-neptune {
    grid-area: 3 / 3 / 4 / -1;
  }

  li[class*='planet'] {
    z-index: 3;
  }

  //Styling
  a {
    text-decoration: none;
  }
}

.card {
  --f-direction: column;
  --l-gradinet: linear-gradient(
    90deg,
    hsl(var(--clr-primary-100), 0.25),
    hsl(var(--clr-primary-200), 0.25),
    hsl(var(--clr-primary-300), 0.25),
    hsl(var(--clr-primary-100), 0.25)
  );

  position: relative;
  padding: 1rem;
  border-radius: 5px;
  z-index: 1;

  background: var(--l-gradinet);
  background-size: 400%;

  &.planet-sun {
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;

    .card_image {
      width: 100%;
      height: 100% !important;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }

    h2 {
      display: none;
    }
  }

  h2 {
    font-size: var(--fs-700);
    color: hsl(var(--clr-primary-500));
    text-align: center;
  }

  &_image {
    height: 180px;
    width: 100%;

    border-radius: 5px;
    overflow: hidden;
  }

  &_body {
    margin-top: auto;
  }

  &:not([class*='sun']) {
    &:before {
      content: '';
      position: absolute;
      inset: -20px;
      border-radius: 50px;
      z-index: -1;

      background: var(--l-gradinet);
      background-size: 400%;
      filter: blur(20px);
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }

    &:is(:hover, :focus) {
      animation: animate-gradient 8s linear infinite;

      &:before {
        opacity: 0.8;

        animation: animate-gradient 8s linear infinite;
      }
    }
  }

  @keyframes animate-gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }
}
