.card-list {
  // Layout
  padding: 0;
  margin-inline: 0;
  list-style: none;

  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;

  .planet-sun {
    grid-area: 1 / 1 / -1 / -1;
    z-index: -1;
  }

  .planet-mercury {
    grid-area: 1 / 1 / 2 / 2;
  }
  .planet-venus {
    grid-area: 1 / 2 / 2 / 3;
  }
  .planet-earth {
    grid-area: 1 / 3 / 2 / -1;
  }
  .planet-mars {
    grid-area: 2 / 1 / 3 / 2;
  }
  .planet-jupiter {
    grid-area: 2 / 3 / 3 / -1;
  }
  .planet-saturn {
    grid-area: 3 / 1 / 4 / 2;
  }
  .planet-uranus {
    grid-area: 3 / 2 / 4 / 3;
  }
  .planet-neptune {
    grid-area: 3 / 3 / 4 / -1;
  }

  //Styling
  a {
    text-decoration: none;
  }
}

.card {
  --f-direction: column;

  padding: 1rem;
  border-radius: 5px;
  background-color: hsl(var(--clr-primary-100), 0.3);

  &.planet-sun {
    padding: 0;
    background-color: transparent;
    border: none;
    box-shadow: none;

    .card_image {
      width: 100%;
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;
    }

    h2 {
      display: none;
    }
  }

  h2 {
    font-size: var(--fs-700);
    color: hsl(var(--clr-primary-500));
    text-align: center;
  }

  &_image {
    height: 180px;
    width: 100%;

    border-radius: 5px;
    overflow: hidden;
  }

  &_body {
    margin-top: auto;
  }
}
