@use 'navbar';
@use 'card';

body {
  background-color: hsl(var(--clr-neutral-100));
}

header {
  h1 a {
    text-decoration: none;
    color: inherit;

    &:is(:hover, :focus-visible) {
      font-style: italic;
      font-weight: normal;
    }
  }
}

.content {
  &_image {
    height: 400px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;

      background: radial-gradient(transparent 45%, hsl(0, 0%, 0%, 0.8) 88%);
    }
  }

  &_text-container {
    //outline: 1px solid red;
    flex-basis: 70%;

    p,
    h2 {
      margin-inline: auto;
    }

    p {
      width: 45ch;
      text-align: justify;
    }

    h2 {
      width: 28ch;
      text-align: center;
    }
  }
}

.boxes {
  --f-gap: 1rem;
  --f-justify: center;
}

.box {
  padding: 0.5rem 1.5rem;
  border: 2px solid hsl(var(--clr-primary));

  background-color: hsl(var(--clr-primary), 0.125);
  color: hsl(var(--clr-primary));
}

footer {
  margin-block: 2.5rem;
  padding-top: 2.25rem;
  font-size: 0.7rem;
  border-top: 2px dashed hsl(var(--clr-primary), 0.6);

  .language,
  .photo-by {
    border: 2px solid hsl(var(--clr-primary));
    padding: 0.25rem 1rem;

    background-color: hsl(var(--clr-neutral-100));
    color: hsl(var(--clr-primary));
  }

  .language {
    select {
      border: none;
      outline: none;
      background-color: inherit;
      color: inherit;
    }
  }

  .photo-by {
    a {
      color: inherit;
      text-decoration: none;
      font-weight: bold;

      &:is(:hover, :focus) {
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}

// Utility
.skew-box {
  --t-skew: 30deg;
  transform: skew(calc(var(--t-skew) * -1));

  > *,
  &.hover-navigation::before,
  &.hover-navigation::after {
    transform: skew(var(--t-skew));
  }
}

.b-shadow {
  box-shadow: 0 0 20px hsl(var(--clr-primary), 0.15),
    0 0 5px hsl(var(--clr-primary), 0.6),
    inset 0 0 5px hsl(var(--clr-primary), 0.6);
}

.image-cover {
  height: 100%;
  width: 100%;

  object-fit: cover;
  object-position: center;
}

.hover-navigation {
  position: relative;

  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  transition-property: scale;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;

    background: none;

    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-property: right;
  }

  &:before {
    right: 10%;
    top: 0;
    translate: (0 -50%);
  }

  &:after {
    right: 80%;
    bottom: 0;
    translate: (0 50%);
  }

  &:is(:hover, :focus-visible) {
    scale: 1.1;

    box-shadow: 0 0 30px 15px hsl(var(--clr-primary), 0.2),
      0 0 5px 5px hsl(var(--clr-primary), 0.3),
      inset 0 0 5px 5px hsl(var(--clr-primary), 0.3);

    &:before {
      right: 80%;
      box-shadow: 0 0 20px 10px hsl(var(--clr-primary), 0.4);
    }
    &:after {
      right: 10%;
      box-shadow: 0 0 20px 10px hsl(var(--clr-primary), 0.4);
    }
  }
}
