.navbar {
  &_list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: end;
    gap: 0.5rem;

    padding-inline-end: 0.5rem;
  }

  &_item {
    padding: 0.2rem 0.85rem;

    background-color: hsl(var(--clr-primary), 0.2);
    border: 2px solid hsl(var(--clr-primary));
  }

  &_link {
    display: block;

    font-size: var(--fs-200);
    color: hsl(var(--clr-primary-300));
    text-transform: uppercase;
    text-decoration: none;
  }

  &_toggle {
    display: none;
    padding: 0;
    border: 20px double transparent;
    border-top-color: hsl(var(--clr-primary));
    translate: 0 25%;

    background: none;

    cursor: pointer;

    &:hover,
    &:focus-visible {
      border-style: solid;
    }
  }
}
