body {
  display: grid;
  place-items: center;
  min-height: 100vh;
}

#root {
  padding: 1rem;
  width: min(100%, 930px);
  margin-inline: auto;
}

.flex {
  display: flex;
  flex-direction: var(--f-direction, row);
  align-items: var(--f-align, center);
  justify-content: var(--f-justify, space-between);
  gap: var(--f-gap, 1rem);
}

//Utility
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2.5rem;
}
.mt-3 {
  margin-top: 5rem;
}
