@media (max-width: 50em) {
  .navbar {
    &_list {
      position: absolute;
      z-index: 5;
      inset: 0 0 auto;

      flex-direction: column;
      gap: 1rem;
      padding: 3rem 0;

      background-color: hsl(var(--clr-neutral-100));
      box-shadow: 0 20px 20px hsl(var(--clr-neutral-100), 0.8),
        0 2px 5px hsl(var(--clr-neutral-100));
    }

    &_item {
      width: 100px;
      padding-block: 0.5rem;
      margin-inline: auto;
      text-align: center;
    }
  }
}
