@media (max-width: 56em) {
  //Layout

  header {
    --f-gap: 3rem;
  }
  .content {
    --f-direction: row;

    h2,
    p {
      width: 100%;
    }
  }

  //Components
  .navbar {
    &_list {
      flex-wrap: wrap;
    }

    &_item {
      flex: 1 20%;
    }
  }

  .content {
    --f-gap: 0;
  }

  .boxes {
    margin-top: 2rem;
    margin-inline: 2rem;
    flex-wrap: wrap;
  }

  .box {
    flex: 1 48%;
    align-self: stretch;
  }
}

@media (max-width: 38em) {
  //Typography
  :root {
    --fs-400: 0.9rem;
    --fs-600: 1.15rem;
    --fs-700: 1.55rem;
    --fs-800: 2rem;
  }

  //Layout

  #root {
    width: min(100%, 375px);
  }

  .content {
    --f-direction: column;

    h2,
    p {
      width: 100%;
    }
  }

  .boxes {
    --f-direction: column;
    padding-inline: 1.5rem;
    padding-top: 2rem;
  }

  //Components
  .navbar {
    &_list {
      display: none;
      position: fixed;
      z-index: 2;
      inset: 0;

      flex-direction: column;
      flex-wrap: nowrap;
      gap: 1rem;
      padding: 3rem 0;

      background-color: hsl(var(--clr-neutral-100));
      box-shadow: 0 20px 20px hsl(var(--clr-neutral-100), 0.8),
        0 2px 5px hsl(var(--clr-neutral-100));

      &.show {
        display: flex;
      }
    }

    &_item {
      width: 120px;
      padding-block: 0.5rem;
      margin-inline: auto;
      text-align: center;
    }

    &_toggle {
      display: block;
      z-index: 3;
    }
  }

  .box {
    width: 100%;
  }

  .card-list {
    gap: 0.25rem;
    --f-gap: 0.5rem;
  }
  .card {
    padding: 0.5rem;
    h2 {
      font-size: var(--fs-400);
    }
  }
}
